
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="breadcrumb-section set-bg" data-setbg="/web/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>FITNESS HAREKETLERİ</h2>
                    <div class="bt-option">
                        <a href="/Default/Index/">Anasayfa</a>
                        <span>Fitness Hareketleri</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Classes Section Begin -->
<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>KAS BÖLGELERİ</span>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/legs.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>BACAK</h5>
                        <a href="/Hareket/Bacak/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/chest.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>GÖĞÜS</h5>
                        <a href="/Hareket/Gogus/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/back.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>SIRT</h5>
                        <a href="/Hareket/Sırt/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/arm.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>KOL</h5>
                        <a href="/Hareket/Kol/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/shoulder.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>OMUZ</h5>
                        <a href="/Hareket/Omuz/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="~/web/img/classes/karın.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <h5>Karın</h5>
                        <a href="/Hareket/Karın/"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
<!-- ChoseUs Section End -->
