@using YapayAntenor.Models.EntityFramework
@model List<TBL_Kol>
@{
    ViewBag.Title = "Kol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/web/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>KOL</h2>
                    <div class="bt-option">
                        <a href="/Hareket/Index/">HAREKETLER</a>
                        <span>KOL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section class="classes-section spad">
    <div class="container" >
        @foreach (var x in Model)
        {
            <h3 style="color:orangered; text-align:center;">@x.Hareket</h3>
            <br />
            <div class="ss-pic"  style="text-align:center;" >
                <img src="@x.Resim" style="height: 400px; width:400px; background-size:cover;" />
            </div>
            <span style="text-align: initial; color:darkgray; "> @Html.Raw(x.Aciklama)</span>
            <br />
            <br />
        }
    </div>
</section>

