@model YapayAntenor.Models.EntityFramework.TBL_Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelleme</h2>
<br />
@using(Html.BeginForm("KategoriGuncelle", "KategoriAdmin", FormMethod.Post))
{
                <div class="form-group">
                    @Html.LabelFor(x=>x.KategoriAd)
                    @Html.TextBoxFor(x=>x.KategoriAd, new {@class="form-control"})
                    @Html.HiddenFor(x=>x.KategoriID)
                </div>

                <button class="btn btn-success"> Güncelle</button>
            }
