
@{
    ViewBag.Title = "Hareket";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/table2/css/util.css">
<link rel="stylesheet" type="text/css" href="~/table2/css/main.css">
<!--===============================================================================================-->
<br />
<h2>Hareket Anasayfa</h2>
<br />
<div class="wrap-table100">
    <div class="table100">
        <table class="table table-bordered">
            <tr class="table100-head" style="background-color: #36304a; color: white;">
                <td><h4>BÖLGE</h4></td>
                <td><h4>HAREKETLER</h4></td>
            </tr>
            <tr>
                <td>Bacak</td>
                <td><a href="/HareketAdmin/Bacak/" class="btn btn-dark">DETAY</a></td>
            </tr>
            <tr>
                <td>Göğüs</td>
                <td><a href="/HareketAdmin/Gogus/" class="btn btn-dark">DETAY</a></td>
            </tr>
            <tr>
                <td>Sırt</td>
                <td><a href="/HareketAdmin/Sırt/" class="btn btn-dark">DETAY</a></td>
            </tr>
            <tr>
                <td>Kol</td>
                <td><a href="/HareketAdmin/Kol/" class="btn btn-dark">DETAY</a></td>
            </tr>
            <tr>
                <td>Omuz</td>
                <td><a href="/HareketAdmin/Omuz/" class="btn btn-dark">DETAY</a></td>
            </tr>
            <tr>
                <td>Karın</td>
                <td><a href="/HareketAdmin/Karın/" class="btn btn-dark">DETAY</a></td>
            </tr>

        </table>

    </div>
</div>
